<!doctype html>
<html>
    <head>
        <title> Menu </title>
        <meta charset='utf-8'>
    </head>
    <body>
      <p>location:{{ path }}</p>
      {% for r in rest %}
        <p>{{ r.name }}</p>
        {% if r.food_set.all %}
        <p>本餐廳共有{{ r.food_set.all|length }}道菜</p>
        <table>
          <tr>
            <th>菜名</th><th>價格</th><th>註解</th><th>辣</th>
            {% for food in r.food_set.all %}
              <tr>
                <td>{{ food.name }}</td>
                <td>{{ food.price }}</td>
                <td>{{ food.comment }}</td>
                <td>{% if food.is_spicy %}辣{% else %}不辣{% endif %}</td>
              </tr>
            {% endfor %}
          </tr>
        </table>
        {% else %}
          nothing to sell
        {% endif %}
      {% endfor %}
      {% for k,v in values %}
        <p>{{ k }} ----- {{ v }}</p>
      {% endfor %}
    </body>
</html>
